
.topbar{

	background-color: white;
	width:100%;
	height:87px;
	float:left;
	z-index: 0;
	clear:both;
}


.top-line{

	border-width: 2px;
	border-color: #dddddd;
    height: 87px;
	width: 960px;
	margin: auto;
	position: relative;
	z-index: 9000;
}


.name{

	background: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	float:left;
	color: white;
	font-weight: bold;
	font-size: 2em;
	padding: 28px 20px 27px 20px;
}


.about-tab, .portfolio-tab, .contact-tab{

	text-decoration: none;
	padding: 33px 10px 32px 10px;
    position: relative;
    float: right;
    color: grey;
    border-top: 3px solid transparent;
    font-size: 1.2em;
}


.topborderbar{

	background: #666666;
	width:100%;
	height:1px;
	float:left;
	clear:both;
}


.midbar{

	background-image: url(../images/grey-background.jpg);
	background-repeat: no-repeat;
	width:100%;
	height: auto;
	float:left;
	padding-bottom: 50px;
	clear:both;
}


.container{

	width:960px;
	margin: auto;
}


.about-me-box{
	background: rgb(245, 247, 246);
	width: 65%;
	padding: 20px;
	margin: 0;
	position: relative;
	float: left;
	top: 25px;
    z-index: 9000;
}



.about-me{
	color: #4aaaa5;
	padding-bottom: 15px;
	border-bottom-style: solid;
	border-color: #666666;
	border-width: 2px;
	font-size: 2em;
	font-weight: bold;
}



.about-me-box p{
	margin: 20px 0 5px;
}



.profile-pic{

	width: 200px;
	height: 200px;
	float: left;
	padding-right: 20px;
	padding-top: 20px;
}


p{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.copyrightbar{

	background-color: #666666;
	width:100%;
	height:50px;
	float:left;
	border-top: 10px solid #4aaaa5;
	clear:both;
}


.copyright{

	width: 960px;
	margin: auto;
	text-align: center;
	color: white;
	padding: 17px 0px 17px 0px;
}


.connect-images{

	width: 65px;
	height: 65px;
	float: left;
	padding-right: 20px;
	padding-top: 20px;
}








